/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.dati-anagrafici {
    font-weight: bold;
}

.field {
    font-weight: 800;  
}

.btnSearch {
    margin-top: 1.85rem;
}

#btnSearchQualifica {
    margin-top: 1.85rem;
}

#btnCompile {
    margin-top: 1.85rem;
    margin-left: 6.5rem;
}

.radio-button {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.gender {
    margin-right: 2rem;
}

.asterisk {
    color: rgb(170, 44, 36);
    font-weight: bold;
}

.cod {
    width: 110%;
}