/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
* SPDX-License-Identifier: EUPL-1.2-or-later
*/
.indirizzo {
    padding-top: 1.15rem !important;
}
.asterisk {
    color: rgb(170, 44, 36);
    font-weight: bold;
}
.add {
    padding-top: 2rem;
}
.radio-button {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

#btnCompile {
    margin-top: 1.85rem;
}

.btnSearch {
    margin-top: 1.85rem;
}

i {
    color: #005ca9;
    font-size: 14pt;
}

table {
    display: table;
}

thead {
    font-size: large;
}

.fa-trash-alt {
    color:rgb(170, 44, 36);
}

.field {
    font-weight: 800;  
}

#scad {
    width: 22rem;
}

#cfLavoratore {
    text-transform: uppercase;
}