/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
* SPDX-License-Identifier: EUPL-1.2-or-later
*/
/*@media (max-width: 992px){
  header nav #menu-mobile{display: none  !important;}
}*/

.btn-sm {
  width: 24rem;
}

.card col{
  width: 40rem;
}

i {
  color: #016CB4;
  padding-top: 5px;
}

button {
  font-size: 16pt;
  color: black;
  font-weight: bold;
  padding-bottom: 2rem;
}