<!--
SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2-or-later
-->
<div class="card-body p-1">
    <h4 class="title">{{"DATI_GENERALI_VARDATORI.SUB_TITLE.DATI_COMUNICAZIONE" | translate}}</h4>
    <div class="row lettura">
        <div class="col-sm-12 col-md-4"> {{ "DATI_GENERALI_VARDATORI.FIELD.TIPO_COMUNICAZIONE"| translate}} <span class="valore">{{comunicazioneToSave?.tipoComunicazione?.dsComTTipoComunicazione}} - {{(comunicazioneToSave.rapLavSedeVD && this.comunicazioneToSave.rapLavSedeVD.length > 0) ? ' DATORE LAVORO' : 'RAGIONE SOCIALE'}}</span></div>
    </div>
    <div class="row lettura">
        <div class="col-sm-12 col-md-4"> {{ "DATI_GENERALI_VARDATORI.FIELD.EMAIL_NOTIFICATION"| translate}} <span class="valore">{{comunicazioneToSave?.email}}</span></div>
        <div class="col-sm-12 col-md-4"> {{ "DATI_GENERALI_VARDATORI.FIELD.COD_REGIONALE"| translate}} <span class="valore">{{comunicazioneToSave?.codiceComunicazioneReg}}</span></div>
    </div>
    <div class="row lettura">
        <div class="col-sm-12 col-md-5"> {{ "DATI_GENERALI_VARDATORI.FIELD.PROVINCIA_PROTOCOLLO"| translate}} <span class="valore">{{comunicazioneToSave?.provincia?.dsComTProvincia}} / {{comunicazioneToSave?.annoProtCom}} / {{comunicazioneToSave?.numProtCom}}</span></div>
    </div>
    <div *ngIf="comunicazioneToSave?.tipoSoggettoAbilitato?.codSoggettoAbilitatoMin !== '012'">
        <h4 class="title">{{"DATI_GENERALI_VARDATORI.SUB_TITLE.VISITA_ISPETTIVA" | translate}}</h4>
        <div class="row lettura">
            <div class="col-sm-12 col-md-5"> {{ "DATI_GENERALI_VARDATORI.FIELD.FLG_COMUNICAZIONE_PROV_ISPETTORATO"| translate}} <span class="valore">{{comunicazioneToSave?.tipoComunicazioneTu && comunicazioneToSave.tipoComunicazioneTu.id === 6 ? 'Si' : 'No'}}</span></div>
        </div>
    </div>
    <div *ngIf="comunicazioneToSave?.tipoComunicazioneTu?.codTipoComunicazioneMin === '03' || comunicazioneToSave?.tipoComunicazioneTu?.codTipoComunicazioneMin === '04'">
        <h4 class="title">{{"DATI_GENERALI_VARDATORI.SUB_TITLE.RETTIFICA_ANNULL_COM" | translate}}</h4>
        <div class="row lettura">
            <div class="col-sm-12 col-md-4">{{ "DATI_GENERALI_VARDATORI.FIELD.RETTIFICA_ANNULL_COM"| translate}} <span class="valore">{{comunicazioneToSave?.tipoComunicazioneTu?.dsComTTipoComunicazione}}</span></div>
            <div *ngIf="this.comunicazioneToSave?.flgComunSegUrgenza !== 'S'" class="col-sm-12 col-md-6">{{ "DATI_GENERALI_VARDATORI.FIELD.COD_REG_COM_RETT_ANULL"| translate}} <span class="valore">{{comunicazioneToSave?.codiceComunRegPrec}}</span></div>
        </div>
        <div class="row lettura">
            <label class="col-sm-12 col-md-12">{{ "DATI_GENERALI_VARDATORI.FIELD.PROTOCOLLO_RETT_ANNULL_PROV_ANNO_NUM"| translate}}</label>
            <div class="col-sm-12 col-md-3"> <span class="valore">{{comunicazioneToSave?.provinciaPrec?.dsComTProvincia}} / {{comunicazioneToSave?.annoProtComPrec}} / {{comunicazioneToSave?.numProtComPrec}}</span></div>
        </div>
    </div>
    <h4 class="title">{{"DATI_GENERALI_VARDATORI.SUB_TITLE.DATI_SOGGETTO" | translate}}</h4>
    <div class="row lettura">
        <!-- ************************************************ DA MODIFICARE************************************************  -->
        <div class="col-sm-12 col-md-5">{{ "DATI_GENERALI_VARDATORI.FIELD.FLG_COM_DATORE_LAVORO"| translate}} <span class="valore">{{comunicazioneToSave?.flgComDatLav === 'S' ? 'Si' : 'No'}}</span></div>
    </div>
    <div class="row lettura">
        <div class="col-sm-12 col-md-4">{{ "DATI_GENERALI_VARDATORI.FIELD.ALTRO_SOGG"| translate}} <span class="valore">{{comunicazioneToSave?.tipoSoggettoAbilitato?.dsComTipoSoggettoAbilitato}}</span></div>
        <div class="col-sm-12 col-md-6">{{ "DATI_GENERALI_VARDATORI.FIELD.CF_SOGGETTO"| translate}} <span class="valore">{{comunicazioneToSave?.codiceFiscaleSoggetto}}</span></div>
    </div>
    <div class="row lettura">
        <div class="col-sm-12 col-md-4">{{ "DATI_GENERALI_VARDATORI.FIELD.EMAIL_SOGGETTO"| translate}} <span class="valore">{{comunicazioneToSave?.emailsoggetto}}</span></div>
        <div class="col-sm-12 col-md-6">{{ "DATI_GENERALI_VARDATORI.FIELD.DATA_TIMBRO_POSTALE"| translate}} <span class="valore">{{comunicazioneToSave?.dtTimbroPostale | date: 'dd/MM/yyyy'}}</span></div>
    </div>
</div>
