<!--
SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2-or-later
-->
<footer role="contentinfo">
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <a href="https://www.regione.piemonte.it/web/" _blank>
            <img alt="Regione Piemonte" src="assets/img/Regione.png">
          </a>

        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-right">
          <a href="https://agenziapiemontelavoro.it/" target="_blank">
            <img src="assets/img/centri_impiego.png" alt="Agenzia Piemonte Lavoro Centri per l'impiego" class="mr-img">
          </a>
        </div>

      </div>
    </div>
  </div><!--/pre-footer-->
  <div class="footer">
    <div class="container-fluid">
      <!--p class="border-w"></p-->
      <div class="row mt-4 mb-3">
        <div class="col">
            <a href="https://form.agid.gov.it/" _blank>{{ 'FOOTER.ACCESSIBILITY' | translate }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.regione.piemonte.it/web/note-legali-privacy">{{ 'FOOTER.PRIVACY' | translate }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.regione.piemonte.it/web/cookie-policy">{{ 'FOOTER.COOKIE_POLICY' | translate }}</a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 logo-csi">
          <a href="http://www.csipiemonte.it">
            <img alt="csi piemonte" src="assets/img/Logo_CSI.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>


