<?xml version="1.0" encoding="UTF-8"?>
<!--
  ========================LICENSE_START=================================
  COMONL BackEnd - SRV submodule
  %%
  Copyright (C) 2022 Regione Piemonte
  %%
  SPDX-FileCopyrightText: Copyright 2022 | Regione Piemonte
  SPDX-License-Identifier: EUPL-1.2-or-later
  =========================LICENSE_END==================================
  -->

<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/beans_1_0.xsd">
  <interceptors>
    <class>it.csi.comonl.comonlweb.srv.util.interceptor.LoggedInterceptor</class>
  </interceptors>
  
</beans>
