<!--
SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<h1 class="dati-anagrafici titolo">{{"ACCREDITAMENTO_DELEGHE.DELEGATO" | translate}}</h1>
<p>{{"APP.OBLIGATORIETA_CAMPI" | translate}}<span class="oblg"> *</span> sono obbligatori</p>
<form [formGroup]="form" *ngIf="showForm">
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="codiceFiscaleDelegato">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.CF_DELEGATO" | translate}} <span *ngIf="FORM_INVALID" class="asterisk">*</span></label>
                <input type="text"
                    class="form-control"
                    formControlName="codiceFiscaleDelegato"
                    oninput="this.value = this.value.toUpperCase().trim()"
                    id="codiceFiscaleDelegato"
                    pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$"
                    [required]="f?.codiceFiscaleDelegante === null && f?.codiceFiscaleImpresa === null"
                    maxlength="16">
                <div *ngIf="f?.codiceFiscaleDelegato?.errors" class="text-danger">
                  <div *ngIf="f?.codiceFiscaleDelegato?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_3" | translate}}</div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="cognomeDelegato">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.COGNOME_DELEGATO" | translate}}</label>
                <input type="text"
                    class="form-control"
                    formControlName="cognomeDelegato"
                    oninput="this.value = this.value.toUpperCase()"
                    id="cognomeDelegato"
                    maxlength="305">
                <div *ngIf="f?.cognomeDelegato?.errors" class="text-danger">
                  <div *ngIf="f?.cognomeDelegato?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_2" | translate}}</div>
                </div>
        </div>
        <div class="form-group col-sm-12 col-md-3">
            <label for="nomeDelegato">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.NOME_DELEGATO" | translate}}</label>
                <input type="text"
                    class="form-control"
                    formControlName="nomeDelegato"
                    oninput="this.value = this.value.toUpperCase()"
                    id="nomeDelegato"
                    maxlength="305">
                <div *ngIf="f?.nomeDelegato?.errors" class="text-danger">
                  <div *ngIf="f?.nomeDelegato?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_2" | translate}}</div>
                </div>
        </div>
    </div>
    <h1 class="dati-anagrafici titolo">{{"ACCREDITAMENTO_DELEGHE.DELEGANTE" | translate}}</h1>
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="codiceFiscaleDelegante">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.CF_DELEGATO" | translate}} <span *ngIf="FORM_INVALID" class="asterisk">*</span></label>
                <input type="text"
                    class="form-control"
                    formControlName="codiceFiscaleDelegante"
                    oninput="this.value = this.value.toUpperCase().trim()"
                    id="codiceFiscaleDelegante"
                    maxlength="100"
                    [required]="f?.codiceFiscaleDelegato === null && f?.cfImpresa === null"
                    maxlength="16">
                <div *ngIf="f?.codiceFiscaleDelegante?.errors" class="text-danger">
                  <div *ngIf="f?.codiceFiscaleDelegante?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_3" | translate}}</div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="cognomeDelegante">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.COGNOME_DELEGATO" | translate}}</label>
                <input type="text"
                    class="form-control"
                    formControlName="cognomeDelegante"
                    oninput="this.value = this.value.toUpperCase()"
                    id="cognomeDelegante"
                    maxlength="305">
                <div *ngIf="f?.cognomeDelegante?.errors" class="text-danger">
                  <div *ngIf="f?.cognomeDelegante?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_2" | translate}}</div>
                </div>
        </div>
        <div class="form-group col-sm-12 col-md-3">
            <label for="nomeDelegante">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.NOME_DELEGATO" | translate}}</label>
                <input type="text"
                    class="form-control"
                    formControlName="nomeDelegante"
                    oninput="this.value = this.value.toUpperCase()"
                    id="nomeDelegante"
                    maxlength="305">
                <div *ngIf="f?.nomeDelegante?.errors" class="text-danger">
                  <div *ngIf="f?.nomeDelegante?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_2" | translate}}</div>
                </div>
        </div>
    </div>
    <h1 class="dati-anagrafici titolo">{{"ACCREDITAMENTO_DELEGHE.IMPRESA" | translate}}</h1>
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="codiceFiscaleImpresa">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.CF_DELEGATO" | translate}} <span *ngIf="FORM_INVALID" class="asterisk">*</span></label>
                <input type="text"
                    class="form-control"
                    formControlName="codiceFiscaleImpresa"
                    oninput="this.value = this.value.toUpperCase().trim()"
                    id="codiceFiscaleImpresa"
                    maxlength="100"
                    [required]="f?.codiceFiscaleDelegato === null && f?.codiceFiscaleDelegante === null"
                    maxlength="16">
                <div *ngIf="f?.codiceFiscaleImpresa?.errors" class="text-danger">
                  <div *ngIf="f?.codiceFiscaleImpresa?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_3" | translate}}</div>
                </div>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label for="denominazione">{{ "ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.DENOMINAZIONE" | translate}}</label>
                <input type="text"
                    class="form-control"
                    formControlName="denominazione"
                    oninput="this.value = this.value.toUpperCase()"
                    id="denominazione"
                    maxlength="100">
                <div *ngIf="f?.denominazione?.errors" class="text-danger">
                    <div *ngIf="f?.denominazione?.errors?.minlength">{{"ERROR.FIELD.MIN_LENGHT_3" | translate}}</div>
                </div>
        </div>
    </div>
    <h1 class="dati-anagrafici titolo">{{"ACCREDITAMENTO_DELEGHE.STATO_DELEGA" | translate}}</h1>
    <div class="row">
        <div class="form-group col-sm-12 col-md-6">
            <label for="statoDelegas">{{ 'ACCREDITAMENTO_DELEGHE.RICERCA.FIELD.STATO_DELEGA' | translate}}</label>
            <ul class="list-inline">
                <li *ngFor="let statoD of statiDelega; index as i" class="list-inline-item">
                  <input type="checkbox"
                  formControlName="statoDelegas"
                  [checked]="checkSelectedStates(statoD?.id)"
                  (change)="selectRemoveStato(statoD)"
                  class="form-check-input" id="{{'option'+i}}">
                  <label for="{{'option'+i}}">{{statoD?.dsStatoDelega}}</label>
                </li>
              </ul>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
      <button type="button" class="btn btn-outline-secondary btn-sm"
          (click)="onClickReset()">{{ 'APP.REMOVE_FILTERS' | translate | uppercase}}</button>
    </div>
    <!-- <div class="col-auto ml-auto">
        <button id="search" type="button"
        (click)="goToNuovaDelega('inserimento')"
          class="btn btn-primary ml-auto btn-lg"
          >{{ 'APP.NEW' | translate }}</button>
      </div> -->
    <div class="col-auto">
      <button id="search" type="button"
        class="btn btn-primary ml-auto btn-lg"
        (click)="onSubmit()"
        [disabled]="FORM_INVALID"
        >{{ 'APP.SEARCH' | translate }}</button>
    </div>
</div>
