/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.card {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #C4C4C4;
}

.card-body {
    padding: 2rem 4rem;
}