/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.radio-button {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.gender {
    margin-right: 2rem;
}
