/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
* SPDX-License-Identifier: EUPL-1.2-or-later
*/
.ricerca {
    font-weight: bold;
}

i {
    color: #005ca9;
    font-size: 14pt;
}

table {
    display: table;
}

thead {
    font-size: large;
}

.asterisk {
    color: rgb(170, 44, 36);
    font-weight: bold;
}

.form-control {
    text-transform: uppercase;
}
.azioni {
    float: left;
}