/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.dati-title {
    font-weight: bold;
}

.field {
    font-weight: 800;  
}

.cod {
    width: 110%;
}
