<!--
SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2-or-later
-->
<!-- 
<div class="modal-header">
    <h4 class="modal-title" id="modal-annulla-title">{{title}}</h4>
</div>
 -->

<div class="modal-body">
    <div class="comonl-modal">
        {{message}}
        <br><br>
        <i class="fas fa-5x fa-exclamation-circle"></i>
    </div>
</div>

<!-- 
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="callback(modal, true)">{{yesLabel}}</button>
    <button type="button" class="btn btn-outline-dark" (click)="callback(modal, false)">{{noLabel}}</button>
</div>
 -->