/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.radio-button {
    margin-bottom: 0;
    margin-left: 0.5rem;
}

input[type="radio"]{
    margin: 0 10px 0 20px;
}