/*
* SPDX-FileCopyrightText: Copyright 2019 - 2022 | Regione Piemonte
* SPDX-License-Identifier: EUPL-1.2-or-later
*/
.comonl-testata-lista {
    background-color: white !important;
    padding: 15px;
    margin-bottom: 20px;
}

.comonl-table {
    thead {
        background-color: rgb(240, 240, 240) !important;
    }
    font-size: 13px;
}

.comonl-select-page {
    width: 60px;
}

.comonl-pagination-footer {
    margin-top: 30px;
    font-size: 13px;
}